# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.tfplan
tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform lock file
# Remova esta linha se quiser versionar o lock file para builds mais reprodutiveis.
.terraform.lock.hcl

# Ansible
*.retry

# SSH keys and local secrets
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log


.env
credentials.ps1

